/* body{
    background-color: blueviolet;
} */

#box{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    /* flex-direction: column-reverse; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

}

#box1{
    height: 200px;
    width: 200px;
    background-color: blue;
   
}
#box2{
    height: 200px;
    width: 200px;
    background-color: aqua;
    
}
#box3{
    height: 200px;
    width: 200px;
    background-color: brown;
    
}

#parent{
    height: 100%;
    width: 100%;
    background-color: brown;

}
