html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: chartreuse;
}
#parent{
    height: 100%;
    width: 100%;
    background-color: rgb(66, 51, 138);
    display: flex;
    padding: 40px;
    gap: 20px;
    flex-wrap: nowrap;
}
.child{
    flex-shrink: 0;
    height: 200px;
    width: 200px;
    background-color: red;
    border: 3px dotted white;
}
