#bodyid{
    height: auto;
    width: auto;
    background-image: url(https://images.unsplash.com/photo-1760340453174-cfae04e35abd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=866);

}
.box1{
    height: 50px;
    width: 50px;
    background-color: aqua;
    position: relative;

    left: 30%;
}
.box2{
     height: 50px;
    width: 50px;
    background-color: blue;
    position: relative;
    left: 50%;
}
.box3{
     height: 50px;
    width: 50px;
    background-color: blueviolet;
}