
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Playwrite+DE+Grund+Guides&display=swap');

p {
  font-family: "Playwrite DE Grund Guides", cursive;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(95deg, red, yellow, green, blue);
  position: absolute;
}
